<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<mat-toolbar color="primary" class="navbar">
  <div>
    TRS
  </div>
  <div>
    <span><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></span>
    <span><a routerLink="/flight-registration" routerLinkActive="active">Flight Registration</a></span>
    <span><a routerLink="/payment" routerLinkActive="active">Payment</a></span>
  </div>

</mat-toolbar>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>